
<!DOCTYPE html>
   <html lang="en">                                                                                                                                                                                 
     <head>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=device-width, initial-scalea=1.0">
         <meta http-equiv="X-UA-compatible" content="ie=edge">
         <title>ingreso al sistema</title>
        </head> 
        <body>
            <div class="container">
                 <div class="row">
                     <div class="col-12 col-md-6 offset-md-3">
                         
                         <div class="card">
                             </div>
                         </div> 
                     </div>
                 </div>
             </div>     
        </body>

     