/* comenzamos dando caracteristicas a nuestro body para dar 
el estilo a toda nuestra interfas web*/
body { 
    /*el tipo de fuente para nuestro texto*/
    font-family:
     url(
         <enlace rel="preconectar" href="https://fonts.googleapis.com">
         <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
         <enlace href="https: //fonts.googleapis.com/css2? familia = Cinzel: peso @ 600 &family=UnifrakturCook:wght@700 & display=swap" rel="stylesheet">) ;
   /*ajustar nuestros margenes*/
    margin: 0;
   /*eligimos una imagen de fondo para nuestra pagina */
   background: url(img.fondo.jpg);
   /*ajustamos el tamaño de la img de fondo*/
    background-size:cover; 
   /*dejamos la img de fondo fija para que no se mueva*/
   background-attachment: fixed;
  }
  /*para trabajar las mediada tanto de margenes y bordes 
  se aplica esta caracteristica para que se tenga en cuanta tales dimenciones */
* {
    box-sizing: border-box;
}
  /*estilos para el menu de navegacion*/
.menu{
    padding: 0%;
    background: #B383BE;
    width: 90%;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: rgb(48, 2, 54);
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #CAA8D1;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #662d89;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid gray;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #662d89;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgb(169, 113, 218);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #662d89;
    font-weight: 600;
}
.link:hover{
     color: rgb(169, 113, 218);
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
.logo img{ 
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



























