*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: url (<enlace rel="preconectar" href="https://fonts.googleapis.com">
    <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
    <enlace href="https: //fonts.googleapis.com/css2? familia = Cinzel: peso @ 600 &family= UnifrakturCook:wght@700 & display=swap" rel="stylesheet">) ;
}

body{
    background-image: url(../images/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* header de las vistas del menu */

#header {
    width: auto;

    height: 400px;   
}

#contlogo {
    margin: auto;
    width: 20%;
}
.logo {
    margin-top: 10px;
}
.logo img {
    width: 100%;
    height: 100%;
}
#contmenu {
    margin: auto;
    width: 100%;
    height: 40px;
    min-width: 380px;
}
.iconos {
    float: right;
    width: 20%;
}
.iconos img {
    width: 30px;
}
.menu {
    margin: auto;
    width: 50%;
}
.menu li a {
    background-color: #662d89;
    text-decoration: none;
    color: rgb(210, 173, 201);
    padding: 10px 15px;
    display: block;
}
.menu>li {
    margin: auto;
    width: 25%;
    height: 40px;
    float: left;
}
.menu li a:hover {
    background-color: rgb(169, 113, 218);
}
ul,
ol {
    list-style: none;
}
.menu li ul {
    display: none;
    position: absolute;
}
.menu li:hover>ul {
    display: block;
}

/* contenido para img en el contenedor de todo lo demas*/
/* contenedor del cuadro para una imagen */
.cuadro {
    margin: auto;
    width: 80%;
    padding: 20px;
}
/*caracteristicas para la img */
.cuadro img {
    width: 100%;
}
h1 h2{
    margin: auto;
}
p {
    margin: auto;
    width: 80%;
    padding: 20px;
    padding-right: 40px;
}



.contenido{
    padding: 40px;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #662d89;

}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #662d89;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #662d89;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #662d89;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}