* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #f0f0f0; /* Color de fondo de respaldo */
    filter: brightness(0.7); /* Reducir el brillo de la imagen de fondo */
}

/* Estilos del logo */
.contlogo {
    margin: auto;
    width: 10%; /* Ajusta el tamaño del contenedor del logo */
}

.logo-img {
    width: 50%; /* Ajusta el tamaño de la imagen del logo */
    height: auto; /* Mantiene la proporción original de la imagen */
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #f3ae19; /* Azul oscuro */
    padding: 10px; /* Ajusta el relleno según sea necesario */
}

.navbar-brand img {
    width: 50%; /* Ajusta el tamaño de la imagen del logo */
    height: auto; /* Mantiene la proporción original de la imagen */
}

.navbar-nav .nav-link {
    color: #FFCC00; /* Amarillo para los enlaces de navegación */
}

.navbar-nav .nav-link.active {
    color: #FFFFFF; /* Blanco para el enlace activo */
}

.iconos img {
    width: 30px; /* Tamaño de los iconos sociales */
}

/* Fondo de la página y colores */
.container {
    background-color: rgba(245, 225, 225, 0.7); /* Fondo con opacidad */
    padding: 20px;
    border-radius: 10px;
}

/* Colores de acento */
.primary-yellow {
    color: #FFCC00; /* Amarillo */
}

.primary-blue {
    color: #003366; /* Azul oscuro */
}

.primary-red {
    color: #990000; /* Rojo oscuro */
}

/* Fondos y bordes */
.bg-yellow {
    background-color: #FFCC00; /* Amarillo */
}

.bg-blue {
    background-color: #003366; /* Azul oscuro */
}

.bg-red {
    background-color: #990000; /* Rojo oscuro */
}

/* Aplicación de colores */
.header {
    background-color: #003366; /* Azul oscuro para el encabezado */
    color: #FFFFFF; /* Blanco para el texto */
    padding: 10px;
}

.button {
    background-color: #FFCC00; /* Amarillo para los botones */
    color: #003366; /* Azul oscuro para el texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.footer {
    background-color: #990000; /* Rojo oscuro para el pie de página */
    color: #FFFFFF; /* Blanco para el texto del pie de página */
    padding: 10px;
}

/* Contenedor con acento amarillo */
.container-accent-yellow {
    background-color: rgba(255, 204, 0, 0.5); /* Amarillo con opacidad */
}

.contenido {
    margin: auto;
    width: 80%;
    padding: 2% 5%;
}
