<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inicio</title>
 {% load static %}
 
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="{% static 'arte_todo/css/estilos.css' %}">
{% block css %}
{% endblock css %}
 
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
         <div class="contlogo">
            <div class="logo">
              <a href="{% url 'home' %}"><img src=" {% static 'arte_todo/images/logo2.png' %}" alt="logo" ></a>
            </div>
         </div>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
               </li>   
               <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="{% url 'galeria' %}">Galeria</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="{% url 'contacto' %}">Contacto</a>
               </li>
               <li  class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Comunidad
                 </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Usuarios</a></li>
                      <li><a class="dropdown-item" href="#">comparte</a></li>
                      <li><a class="dropdown-item" href="#">Comenta</a></li>
                    </ul>
              </li>
          <form class="d-flex" role="search">
             <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
             <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
      </ul>
        <div class="iconos "  id="navbarSupportedContent">
        
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" id="Usuario">
                   <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <img src="{% static 'arte_todo/images/icon.png' %}" alt="logo login">
                   </a>
                   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                     {% if user.is_authenticated %}
                     <li ><h4 class="dropdown-item">@{{user.username}}</h4></li>
                     <li><a class="dropdown-item"  aria-current="page"href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    
                     {% else %}
                     <li ><a class="dropdown-item"  aria-current="page" href="{% url 'login' %}">Iniciar Sesión</a></li>
                     <li ><a class="dropdown-item"  aria-current="page" href="{% url 'registro' %}">Registrete</a></li>
                     {%endif%}
                   </ul>
                </li>
            </ul>
        </div>
        <div class="iconos">
          <a href="https://www.facebook.com/"><img src="{% static 'arte_todo/images/face-removebg.png' %}" alt="face"></a>
        </div>
        <div class="iconos">
          <a href="https://www.instagram.com/"><img src="{% static 'arte_todo/images/instagram-removebg.png' %}" alt="insta"></a>
        </div>
      
      </div>
    </div>
  </nav>
  <div class="container w-75 mt-3 rounded shadow p-5">
  <!--contenido abajo del navegador -->
 
  
 {% block contenido %}
 {% endblock %} 
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages%}
{% for m in messages%}
     <script>
       Swal.fire({
       "title":"Felicitaciones",
       "text":"{{m}}",
       "icon":"success"
 })
</script>
{% endfor %}
{% endif %}

{% block js %}
{% endblock js %}

</body>

</html>