{% extends 'arte_todo/base.html' %}
{% block contenido %}
 {% load static %}
<!--login dentro de comunidad-->
<div class="container w-75 mt-3 rounded shadow">
  <div class="row align-items-stretch">
    <div class="col p-5" id="cont_login">
      <h3 class="fe-bold text-center py-5">Iniciar Sesión</h3>
      <form action="#" class="cod-form">
        <div class="mb-4">
          <label class="form-label" for="correo">Correo</label>
          <input
            type="email"
            class="form-control"
            placeholder="Correo"
            name="correo"
            id="correo"
            required
          />
        </div>
        <div class="mb-4">
          <label class="form-label" for="pass">Contraseña</label>
          <input
            type="password"
            class="form-control"
            name="pass"
            id="pass"
            placeholder="Contraseña"
            required
          />
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary" id="btn-iniciar">
            Iniciar Sesión
          </button>
        </div>

        <p>
          No tienes cuenta?
          <a href="#" class="form-check text-decoration-none" id="link_registro"
            >Registrate</a
          >
        </p>
      </form>
    </div>
    <div class="col p-5" id="cont_registro">
      <h3 class="fe-bold text-center py-5">Registrate</h3>
      <form action="#" class="cod-form">
        <div class="mb-4">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            placeholder="Nombre"
            required
          />
        </div>
        <div class="mb-4">
          <label class="form-label" for="correo">Correo</label>
          <input
            type="email"
            class="form-control"
            placeholder="Correo"
            name="correo"
            id="reg-correo"
            required
          />
        </div>
        <div class="mb-4">
          <label class="form-label" for="pass">Contraseña</label>
          <input
            type="password"
            required
            class="form-control"
            name="pass"
            id="reg-pass"
            placeholder="Contraseña"
          />
        </div>

        <div class="mb-4">
          <label class="form-label" for="rep-pass">Repetir Contraseña</label>
          <input
            type="password"
            class="form-control"
            name="rep-pass"
            id="rep-pass"
            placeholder="Repite tu contraseña"
            required
          />
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Registrate</button>
        </div>
        <p>
          Ya tienes cuenta?
          <a href="#" class="form-check text-decoration-none" id="link_login"
            >Inicia Sessión</a
          >
        </p>
      </form>
    </div>
    <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6">
      <img
        class="rounded mx-auto d-block p-5"
        src="{% static 'arte_todo/images/logo.png'%}"
      />
    </div>
  </div>
</div>
{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="{% static 'arte_todo/js/form.js'%}"></script>
{% endblock js%}
 {% endblock %}
