{% extends 'arte_todo/base.html' %}

{% block contenido %}
{% load static %}
  <!--contenido debajo del menu-->
  <div class="container w-75 mt-3 rounded shadow"  >
    <div class="row align-items-stretch">
     
      <div class="col p-5">
        <h3 class="fe-bold text-center py-5">Contáctanos</h3>
        <form action="#">
          <div class="mb-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" required>
          </div>
          <div class="mb-4">
            <label for="telefono" class="form-label">Teléfono(opcional)</label>
            <input type="tel" class="form-control" name="telefono" placeholder="Teléfono">
          </div>
          <div class="mb-4">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea typo="text" class="form-control" name="mensaje" placeholder="Mensaje" required rows="6"
              cols="25"></textarea>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>

        <h6 class="text-md-end m-4"> Raul benavides (Lider de proyecto), contacto@grupo8.cl (02)23630654</h6>
        <h6 class="text-md-end m-4"> Ayelen Corrotea (Diseño y estetica), contacto@grupo8.cl (02)23630654</h6>
        <h6 class="text-md-end m-4"> Jhonandrew Rojas (Funcionalidades), contacto@grupo8.cl (02)23630654</h6>
      </div>
      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6">
        <img class="rounded mx-auto d-block p-5" src="{% static 'arte_todo/images/logo.png'%}">
      </div>
    </div>
  </div>
  </div>
  {% block js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
     {% endblock js%}
  {% endblock %}
