{% extends 'arte_todo/base.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
{% load static %}
  <!--contenido debajo del menu-->
        <br>
        <div class="col-12 col-md-6 offset-md-3">
           <div class="row align-items-stretch">
               <div class="card">
                  <div class="card-body">
                     <h4 class="fe-bold text-center">Contáctanos</h4>
                     <hr>
                          <form action="" class="formulario contacto" method="post">
                         {% csrf_token %}
                         {{form | crispy }}
                          <br>
                         <div class="d-flex juxtify-content-end">
                           <input type="reset" value="cancelar" class="btn btn-secondary">
                           &nbsp;
                           <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                         </div>
                        </form>
                  </div>
               </div>
               
                         
           </div>
        <img class="rounded mx-auto d-block p-5" src="{% static 'arte_todo/images/logo.png'%}">
      
     
        <h6 class="text-md-end m-4"> Raul benavides (Lider de proyecto), contacto@grupo8.cl (02)23630654</h6>
        <h6 class="text-md-end m-4"> Ayelen Corrotea (Diseño y estetica), contacto@grupo8.cl (02)23630654</h6>
        <h6 class="text-md-end m-4"> Jhonandrew Rojas (Funcionalidades), contacto@grupo8.cl (02)23630654</h6>
          <br>         
        </div>
  {% block js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

     {% endblock js%}
  {% endblock %}
