{% extends 'arte_todo/base.html' %} 
{% block contenido %} 
{% load static %}
    <div class="row row-cols-1 row-cols-md-3 g-2">
       {% for p in fotos %}
      <div class ="col">
          <div class="card"  id="cont_img">
            <img src="{{p.imagen.url}}" class="card-img-top" alt="galeria" />
               <div class="card-body" id="detalle_img">
                 <h6 class="card-title">{{ p.nombre | capfirst }}</h6>
                 <p class="card-text">{{ p.descripcion }}</p>
                 <h6>{{p.fecha}}</h6>
                 <button type="submit" id="btnEnviar" class="btn btn-primary btn-sm">
                  <a class="nav-link active" aria-current="page"  href="{% url 'editar' p.id %}">Editar</a>
                  </button>
                  <button type="submit" id="btnEnviar" class="btn btn-danger btn-sm">
                    <a class="nav-link active" aria-current="page" href="{% url 'eliminar' p.id %}">eliminar</a>
                  </button>
      
              </div>
          </div>
      </div>
        {% endfor %}   
        <div class="row row-cols-1 row-cols-md-3 g-2  ">
          <a class="nav-link active "  aria-current="page" href="{% url 'agregar' %}">
            <h4>Agregar</h4> 
          <img class="card-img-top" src="{% static 'arte_todo/images/agregar1.webp'%}">
        </a>
      </div>
    </div>
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock js %}
{% endblock %}
