{% extends 'arte_todo/base.html' %} 
{% load static %}

{% block contenido %} 
    <div class="row row-cols-1 row-cols-md-3 g-2">
       {% for p in fotos %}
      <div class ="col">
          <div class="card"  id="cont_img">
            <img src="{{p.imagen.url}}" class="card-img-top" alt="galeria"/>   
            <div class="card-body" id="#detalle_img">   
            {% if user.is_authenticated %}
                    <h6 class="card-title">{{ p.nombre | capfirst }}</h6>
                     <p class="card-text">{{ p.descripcion }}</p>
                     <h7>{{p.fecha}}</h7>
                     <hr>
                         <button type="submit" id="btnEnviar" class="btn btn-primary btn-sm">
                          <a class="nav-link active" aria-current="page"  href="{% url 'editar' p.id %}">Editar</a>
                          </button>
                          <button type="submit" id="btnEnviar" class="btn btn-danger btn-sm">
                            <a class="nav-link active" aria-current="page" href="#" onclick="eliminarfoto({{p.id}})">eliminar</a>
                          </button>
                     
                     {% else %}
                     <h6 class="fe-bold text-center">Inicie seccion o registrese para ver opciones</h6>
                     <a class="item"   href="{% url 'login' %}">Iniciar Sesión</a>
                     <a class="item"  aria-current="page" href="{% url 'registro' %}">Registrate</a>
                     {%endif%} 
                </div>           
          </div>
      </div>
        {% endfor %} 
        {% if user.is_authenticated %}
        <div class="row row-cols-1 row-cols-md-3 g-2  ">
          <div class ="col"  id="cont_agregar">
          <a class="nav-link active "  aria-current="page" href="{% url 'agregar' %}">
            <h4 class="text-center">Agregar</h4>
          <img class="card-img-top" src="{% static 'arte_todo/images/agregar1.webp'%}">
        </a>
      </div>
    </div>
        {% else %}
        {%endif%}   
       
     
    </div>
   
    {% block js  %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'arte_todo/js/form.js'%}"></script>
    <script>
      function eliminarfoto(id){
        Swal.fire({
          "title":"¿estas seguro?",
          "text":"esta accion no es reversible",
          "icon":"question",
          "showCancelButton":true,
          "cancelButtonText":"No, Cancelar",
          "confirmButtontext":"Si, Eliminar",
          "reverseButtons":true,
          "confirmButtonsColor":"#dc3545"
     })
     .then(function(result){
          if(result.isConfirmed){
            window.location.href ="/eliminar/"+id+"/"
          }
     })
    }
    </script>
    {% endblock  %}
  {% endblock %}
